* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 966px;
  margin: 0 auto;
  padding: 8px;
  
}
.spin-loader {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.loader-title {
  font-family: var(--font-stylised);
  text-align: center;
}