main {
    max-width: 966px;
}
.filter-container {
    width: 100%;
    padding: 4px;
    margin-top: 20px;
}
.filter-btn-save-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
/* Cirle buttons - All, thumbsup/thumbs down */
.filter-btn-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.filter-btn {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-font-primary);
    background-color: var(--color-primary);
    font-family: var(--font-stylised);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}
.filter-btn:hover {
    cursor: pointer;
}
/* Filter buttons non-selected state */
.filter-btn.new {
    border: var(--border-orange);
}
.filter-btn.allowed {
    border: var(--border-green-dark-mode);
}
.filter-btn.blocked {
    border: var(--border-red);
}

/* Filter buttons on. hover and selected state */
.filter-btn.new:hover,
.filter-btn.new.active {
    background-color: var(--color-orange);
    color: var(--color-font-dark);
}
.filter-btn.allowed:hover,
.filter-btn.allowed.active {
    background-color: var(--color-green-dark-mode);
    color: var(--color-font-dark);
}
.filter-btn.blocked:hover,
.filter-btn.blocked.active  {
    background-color: var(--color-red);
    color: var(--color-font-dark);
}

.filter-date-title {
  margin-bottom: 10px;
  border-bottom: var(--border-grey-dark-mode);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-stylised);
  color: var(--color-font-offwhite);
}
.sender-container {
    width: 100%;
    margin: 0 auto;
}
.no-emails-msg {
    font-size: var(--font-size-title);
     color: var(--color-font-offwhite);
     margin-left: 20px;
}

/* email li element */
.sender-list-item {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    list-style: none;
    border: var(--border-grey-dark-mode);
    border-radius: var(--border-radius);
    padding: 10px 20px;
}
.sender-subject-flex {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.filter-sender-name {
  line-height: 1;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-font-primary);
}
.filter-sender-subject {
  font-family: var(--font-bodycopy);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
  color: var(--color-font-offwhite);
}
.filter-email-date {
  font-family: var(--font-bodycopy);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
  color: var(--color-font-primary);
}

/* conatiner for date and thumb up thumbs down */
.filter-status-date-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Thumbs up vs Thumbs down buttons */
.allowed-vs-blocked {
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}

/* Colour of thumbs up thumbs down */
.set-allowed {
  color: var(--color-green-dark-mode);
}
.set-blocked {
  color: var(--color-red);
}
/* Thumbs up Thumbs down hover effects  */
.set-allowed:hover {
    background-color: var(--color-green-dark-mode);
    color: var(--color-font-dark);
    cursor: pointer;
}
.set-blocked:hover {
    background-color: var(--color-red);
    color: var(--color-font-dark);
    cursor: pointer;
}
/* Set 'active' fill color of button when allocated to allowed or blocked list*/
.allowed-active {
    background-color: var(--color-green-dark-mode);
    color: var(--color-font-dark);
}
.blocked-active {
    background-color: var(--color-red);
    color: var(--color-font-dark);
}
/* remove hover effect when on active list */
.allowed-active:hover, .blocked-active:hover {
    cursor: default;
}

/* Mobile styling */
@media (max-width: 500px) {
    /* .filter-date-title {
        text-align: center;
    } */
    .sender-list-item {
        min-height: 70px;
    }
    .sender-subject-flex {
      gap: 2px;
    }
    .filter-sender-name {
        font-size: var(--font-size-regular);
        line-height: 1;
        margin-bottom: 8px;
    }
    .filter-sender-subject {
        font-size: var(--font-size-small-bodycopy);
    }
    .filter-email-date {
        font-size: var(--font-size-small-bodycopy);
    }
    .filter-status-date-container {
      flex-direction: column;
      gap: 8px;
    }
    .allowed-vs-blocked {
        width: 30px;
        height: 30px;
    }
}
/* wrapper for filter button and status msg: 
status msg has absoloute positioning relative to wrapper */
.wrapper-filter-btns-status-msg {
    position: relative;
}
.status-banner {
    background-color: var(--color-primary);
    color: var(--color-font-offwhite);
    font-family: var(--font-bodycopy);
    font-size: var(--font-size-regular);
    padding: 10px 20px;
    margin: 16px 0;
    border-left: 6px solid var(--color-green-dark-mode);
    border-radius: var(--border-radius);
    animation: fadeInOut 4s ease-in-out forwards;
    position: absolute;
    top: -128%;
    left: 0%;
    z-index: 100;
}
