.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  max-width: 120px;
  height: auto;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
  color: var(--color-font-primary);
  font-size: var(--button-font-size);
  border: 1px solid #1f1f1f;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
}

.back-btn:hover {
  border: var(--border-green-dark-mode);
  cursor: pointer;
}

.email-view-container {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 20px;
}

.email-view-sender-details {
  margin-bottom: 50px;
}

.email-view-subject {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-bodycopy);
  color: var(--color-font-primary);
  margin-bottom: 10px;
}

.email-view-sender {
  font-family: var(--font-bodycopy);
  font-size: var(--font-size-regular);
  color: var(--color-font-primary);
}

.email-view-sender-address {
  font-weight: var(--font-weight-light);
  color: var(--color-font-primary);
  margin-left: 10px;
}

.email-view-body {
  position: relative;
  font-size: var(--font-size-regular);
  font-family: var(--font-bodycopy);
  font-weight: var(--font-weight-light);
  color: var(--color-font-primary);
}

.email-view-btn-panel {
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.email-view-btn {
  width: 100px;
  height: 80px;
  font-family: var(--font-stylised);
  font-size: var(--font-size-regular);
  color: var(--color-font-primary);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  background-color: var(--color-primary-dark);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.email-view-btn:hover {
  cursor: pointer;
  border: var(--border-green-dark-mode);
}

.add-to-board-container,
.tapup-btn-modal-container {
  position: relative;
}

.tapup-confirmation-msg {
  width: 180px;
  padding: 10px;
  position: absolute;
  bottom: -70%;
  right: -40%;
  z-index: 100;
  background-color: var(--color-primary-dark);
  border: var(--border-green-dark-mode);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
}

.email-action-btn-panel {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

/* .iframe {
 width: "100%"; min-height: "300px"; border: "none"; overflow: "hidden"
} */
