.email-section {
  display: block;
  margin-bottom: 50px;
  max-width: 966px;
  margin: 0 auto;
  padding: 8px;
}
.email-section-title {
  margin-left: 20px;
  margin-bottom: 10px;
  border-bottom: var(--border-grey-dark-mode);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-stylised);
}