.email-section {
  display: block;
  margin-bottom: 50px;
}
.email-section-title {
  margin-left: 20px;
  margin-bottom: 10px;
  border-bottom: var(--border-grey-dark-mode);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-stylised);
}
.spin-loader {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.loader-title {
  font-family: var(--font-stylised);
  text-align: center;
}