/* LOGO PROJECTS AND USER MENU */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 50px 0;
}
.logo {
  max-width: 120px;
  height: auto;
}
.usr-project-btn-container {
  position: relative;
}
.usr-project-btn {
  padding: 10px 20px;
  color: var(--font-color-primary);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);

}
/* .project button {
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--font-color-primary);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.project-list {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-stylised);
  color: #fff;
  align-items: stretch;
  width: 100px;
}
.panel-listed-projects {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-stylised);
  color: #fff;
  margin-bottom: 8px;
}
.panel-project-title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
  color: var(--font-color-primary);
}
.user-panel-name {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-stylised);
  color: var(--font-color-primary);
}
.signout-newproj-container {
  display: flex;
  justify-content: space-between


}

.dropdown {
  max-width: 300px;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #595b59;
  border-radius: var(--border-radius);
  padding: 50px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

/* .dropdown button {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 18px;
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
  text-align: left;
  color: black;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
  color: var(--color-font-primary);
}

.dropdown button:hover {
  background-color: var(--color-font-offwhite);
  cursor: pointer;
}

.project .dropdown {
  width: 300px;
} */

/* .user-menu .dropdown {
  width: 150px;
} */

/* INBOX, KANBAN BOARD AND OPPORTUNITIES */
.tgl-btn-container {
  max-width: fit-content;
  display: flex;
  gap: 8px;
  padding: 8px;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
}
.tgl-btn {
  padding: 10px 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-stylised);
  font-size: var(--button-font-size);
  border-radius: var(--border-radius);
  text-decoration: none;
  background: var(--color-primary);
  color: #f5f5f5;
  border: 1px solid grey;
}

.tgl-btn:hover {
  cursor: pointer;
  border: var(--border-green-dark-mode);
}
.user-btn:hover {
  cursor: pointer;
  background-color: var(--color-font-offwhite);
  transition: ease-in-out 0.3s;
}
.tgl-btn.active {
  background: var(--color-grad-green-dark-mode);
  color: var(--color-font-dark);
  border: none;
}

@media (max-width: 500px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }
}
