.opportunityContainer {
  cursor: grab;
  border-radius: 0.5rem;
  background-color: #3f3f46;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  min-height: 91px;
}

.draggingOpportunity {
  cursor: grab;
  border-radius: 0.5rem;
  border: solid pink 1px;
  border-color: pink;
  background-color: #3f3f46;
  opacity: 20%;
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  min-height: 91px;

}

.opportunityContainer:active {
  cursor: grabbing;
}

.opportunityContainer:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.opportunityDragger {
  height: 1rem;
  cursor: grab;
}

.opportunityInner {
  border-radius: 0.375rem;
}

.companyText {
  display: inline-block;
  font-weight: 500;
  color: #f5f5f5;
  transition: color 0.2s ease;
}

.companyText:hover {
  cursor: pointer;
}

.titleText {
  font-weight: 200;
  color: #f5f5f5;
}

.companyLogo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.opportunityInner {
  position: relative;
}
