/* default variant styles*/
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary);
  border: 1px solid var(--border-grey-dark-mode);
  border-radius: var(--border-radius);
  padding: 0 12px;
  height: 42px;
  max-width: 100%;
  flex:1
}

.search-bar:focus-within {
  border: 1px solid #828282;
}

.search-input {
  flex: 1;
  font-size: var(--font-size-regular);
  font-family: var(--font-bodycopy);
  font-weight: var(--font-weight-light);
  color: var(--color-font-primary);
  background: transparent;
  border:none;
  outline: none;
  padding: 8px 0;
}

.search-input::placeholder {
  font-size:small;
  color: #828282 !important;
  opacity: 0.7;
}

.search-icon-button {
  background: var(--color-primary);
  border: none;
  color: var(--color-font-primary);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon-button:hover {
  scale: 1.2;
}

/* minimal variant*/ 
.search-bar.minimal {
  max-width: 100px;
  border-radius: 20px;
  border: 1px solid rgb(130, 130, 130,0.2);;
  background-color: transparent;
  
}
.search-bar.minimal:focus-within {
  border: 1px solid rgb(130, 130, 130,0.7); 
}
.search-bar.minimal .search-icon-button {
  display: none;
}
.search-bar.minimal .search-input {
  font-size: 0.9rem;
  color: var(--color-font-primary);
  padding: 8px 0;
  font-family: var(--font-bodycopy);
}