.tapup-tapout-modal {
  border: 2px dotted #21950c;
  border-radius: var(--border-radius);
  max-width: fit-content;
  padding: 5px 10px;
  background: var(--color-primary-dark)
}
.tapup-tapout-modal-txt {
  color: var(--color-font-primary);
  font-family: var(--font-stylised);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}